@media (min-width: 500px) {
  .discount-banner {
    width: 80vh;
    height: 72vh;
    padding: 12px;
  }
}
@media (min-width: 800px) {
  .discount-banner {
    width: 35vh;
    height: 26vh;
    padding: 30px;
  }
}

@media (min-width: 1100px) {
  .discount-banner {
    width: 65vh;
    height: 70vh;
    padding: 62px;
  }
}
